/* ここから下に記載していく */
@charset "UTF-8";

html{
    font-size: 100%;
}

body{
    color: #222222;
    font-family: sans-serif;
}

img{
    width: 100%;
    height: auto;
}

li{
    list-style: none;
}

a{
    color: #222222;
    text-decoration: none;
}

/* ----------------------
スマートフォン用
----------------------- */
@media screen and(max-width: 767px) {
    /* ★スマホ用のCSS入れる！ */
    #header{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    #header .logo{
        max-width: 120px;
    }
}

/* ----------------------
ここから wrapperとheader部分
----------------------- */
.wrapper{
    max-width: 1500px;
    width: 100%;
    /* padding: 0 20px; */
    margin: 0 auto;
} 

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

#header .logo{
    line-height:  0;
} 

#header .logo a{
    display: block;
}

#header .navi{
    display: flex;
    align-items: center;
}

#header .navi li {
    font-size: 21px;
    margin-left: 50px;
}


.wrapper{
    position: relative;
    
    }

.mainvisual{
    height: auto;
}


.main-thema{
    white-space: nowrap;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.txt .thema01{
    display: block;
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.txt .thema02{
    font-size: 30px;
    color: white;
    font-weight: lighter;
}

/* ここまでメイン */

ここからABOUTセクション

#ABOUT{
    max-width: 1500px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


#ABOUT .yellow .title{
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 30px;
}

#ABOUT .yellow .setsumei{
    font-size: 18px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-bottom: 60px; 
}

#ABOUT .yellow .bun{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-top: 40px; 
    line-height: 1.6
}

#ABOUT .yellow .bun02{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    line-height: 1.6
}


#ABOUT .gazou{
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 80px;
}

/* ここまでABOUTセクション */

/* ここからCOURSEセクション */

#COURSE{
   max-width: 1500px;
   margin: 0 auto;
}

.title01{
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}

.bun{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    line-height: 1.6
}

.bun02{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    line-height: 1.6
}

/* COURSE　本格的な農園～の横並び画像 */

.course_01 {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
    vertical-align: top;
}

.gazou01 img{
    width: 100%;
}

.txt01{
    width: 50%;
    background-image: url(../img/bg/jpg);
    background-color: #fafafa;
}

.txt-inner01{
    padding: 120px 0 120px 50px;
    /* margin-right: auto;  */
}

.title011{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;

}

.setsumei01{
    max-width: 10%;
    font-size: 16px;
    line-height: 1.8;
    /* margin-right: auto;  */
}

.gazou01{ 
    height: 450px; 
    object-fit: cover;
    object-position: left; 

}

/* テスト */
/* 前のCOURSEセクション */

/*#COURSE{
   max-width: 1500px;
   margin: 0 auto;
   margin-top: 60px;
   /* display: flex;
   justify-content: center; 
   align-items: center;
   flex-direction: column;
}

/*#COURSE .black .title{
    font-size: 24px;
    color: #222222;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

#COURSE .black .bun{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    line-height: 1.6
}

#COURSE .black .bun02{
    font-size: 16px;
    color: #222222;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    line-height: 1.6
}

/* COURSEの横並び画像 */

/*.course_01 {
    max-width: 1500px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.course_01 .gazou01{
    width: 100%;
}

.course_01 .txt{
    width: 50%;
    background-image: url(../img/bg/jpg);
    background-color: #fafafa;
}

.course_01 .txt .txt-inner{
    padding: 120px 0 120px 50px;
    margin-right: auto; 
}

.course_01 .txt .title{
    max-width: 480px;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;

}

.course_01 .txt .setsumei01{
    max-width: 480px;
    font-size: 16px;
    line-height: 1.8;
    margin-right: auto; 
}

.course_01 .gazou01{ 
    height: 450px; 
    object-fit: cover;
    object-position: left; 

}
/*


/* COURSE　必要な知識～の横並び画像 */

.course_02 {
    max-width: 1500px;
    display: flex;
    margin: 0 auto;
}

.txt02 .gazou02 img{
    width: 100%;
}

.txt02{
    width: 50%;
    background-image: url(../img/bg/jpg);
    background-color: #fafafa;
}

.txt02 .txt-inner02{
    padding: 120px 0 120px 50px;
    /* margin-left: auto;  */
}

.txt02 .title021{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;

}

.setsumei01{
    max-width: 480px;
    font-size: 16px;
    line-height: 1.8;
    /* margin-right: 280px;  */
}

.gazou02{ 
    height: 450px; 
    object-fit: cover;
    object-position: right; 

}

